* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.message {
    font-size: 7em;
    margin-top: 15vh;
    margin-bottom: 20vh;
    color: white;
    animation: pulseAnimation 2s ease-in-out infinite;
}

a {
    text-decoration: none;
    color: white;
}

.explore-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #39CCCC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    margin: 0 10px;
}

body {
	/* background-color: #1c1c1c; */
    background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	overflow: hidden;
  
}

button {
	background-color: rebeccapurple;
	border-radius: 5px;
	box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.15);
	border: none;
	color: white;
	cursor: pointer;
	padding: 1rem 2rem;
	position: relative;
	transition: transform 0.1s linear, box-shadow 0.1s linear;
	z-index: 10;
  -webkit-tap-highlight-color: transparent;
}

button:active {
	transform: translate(4px, 4px);
	box-shadow: 0 0 0 rebeccapurple;
}

button:focus {
	outline: none;
}

.particle {
	--x: 0;
	--y: 0;
	background-color: rebeccapurple;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 5px;
	width: 5px;
	z-index: -1;
}

.particle.move {
	animation: move 1000ms linear forwards;
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff;
    margin: 0 10px;
}

.arrow-1 {
    transform: rotate(135deg);
}

.arrow-2 {
    transform: rotate(-45deg);
}

.arrow-3 {
    transform: rotate(90deg);
}



@keyframes move {
	to {
		transform: translate(var(--x), var(--y));
	}
	
	95% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes pulseAnimation {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }
}



/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

/* @charset "UTF-8";
body {
  color: #fff;
  font-family: "Rubik", sans-serif;
} */

.item.footer {
  flex-wrap: wrap;
  padding: 5rem;
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  grid-column: span 1;
}
@media screen and (min-width: 823px) and (max-width: 1223px) {
  .item.footer {
    grid-column: span 2;
  }
}
.item.footer a {
  text-decoration: none;
  color: #fff;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
.item.footer a:hover {
  border-bottom: 1px solid;
}

footer {
  margin-top: 1.5rem;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #fff;
  color: #fff;
  margin: 5px;
}
footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer a .icons {
  margin-top: 8px;
  display: inline-block;
  font-size: 20px;
}
footer a .icons:before {
  position: relative;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  content: "";
  position: absolute;
}

.main-content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.main-content .item {
  display: grid;
  grid-template-rows: 1fr min-content;
  align-items: center;
  justify-content: center;
  height: 50vh;
  flex-wrap: wrap;
  background: var(--bg-color);
}
.main-content .item:not(.footer) {
  padding-top: 1rem;
}

button {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.name {
  width: 100%;
  text-align: center;
  padding: 0 0 3rem;
  font: 500 14px "Rubik", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.button__wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-parrot .parrot {
  position: absolute;
  width: 60px;
  text-align: center;
  animation: blink 0.8s infinite;
  color: transparent;
}
.button-parrot .parrot:before {
  content: "Click Me!";
}
.button-parrot .parrot:nth-child(1) {
  top: -30px;
  left: -40px;
  font: 12px/1 "Margarine", sans-serif;
  transform: rotate(-20deg);
  animation-duration: 0.5s;
}
.button-parrot .parrot:nth-child(2) {
  font: 12px/1 "Margarine", sans-serif;
  right: -40px;
  top: -20px;
  transform: rotate(15deg);
  animation-duration: 0.3s;
}
.button-parrot .parrot:nth-child(3) {
  font: 16px/1 "Margarine", sans-serif;
  top: -60px;
  left: 15px;
  transform: rotate(10deg);
  animation-duration: 1s;
}
.button-parrot .parrot:nth-child(4) {
  font: 18px/1 "Margarine", sans-serif;
  top: -70px;
  left: 95px;
  transform: rotate(2deg);
  animation-duration: 0.7s;
}
.button-parrot .parrot:nth-child(5) {
  font: 14px/1 "Margarine", sans-serif;
  top: 80px;
  left: 105px;
  transform: rotate(-20deg);
  animation-duration: 0.8s;
}
.button-parrot .parrot:nth-child(6) {
  font: 12px/1 "Margarine", sans-serif;
  top: 80px;
  left: 5px;
  transform: rotate(10deg);
  animation-duration: 1.2s;
}
.button-parrot button:hover .parrot:before {
  content: "Do it!";
  width: 70px;
}

@keyframes blink {
  25%, 75% {
    color: transparent;
  }
  40%, 60% {
    color: #fff;
  }
}

@media only screen and (max-width: 600px) {
  .message {
      font-size: 2.5em;
      margin-top: 10vh;
      margin-bottom: 18vh;
  }

  .explore-button {
      font-size: 0.8em;
  }

  button {
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 0.6rem "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 800px) {
  video{
    width:320px;
    height:250px;
  }
}
